<!doctype html>

<html lang="en">
    
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <title>Nyårsfirande</title>


</head>

    {% include 'navbar.html' %}
    
<body>
    
    
    <h1>The image game!</h1>
    <div>
        <a href="/upload">Upload a image here !</a>
    </div>
    
    <div>
        <a href="/play/1">Play here !</a>
    </div>
    
    
    <h1>Word games</h1>
    <div>
        <a href="/upload_words">Upload words here !</a>
    </div>
    
    <div>
        <a href="/play_words/1/0">Play here !</a>
    </div>
    
    
    
</body>

</html>
    
    