<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Exo+2&display=swap" rel="stylesheet">

    <title>Add to the game</title>

  </head>
    {% include 'navbar.html' %}
    
  <body>

    <form class="form-horizontal" method="POST" enctype="multipart/form-data">
      <fieldset>

        <!-- Form Name -->
        <h1 style="text-align:center;"class="h3 mb-3 font-weight-normal"><b>Add to the game</b></h1>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="name">Name</label>
          <div class="col-md-4">
            <input id="name" name="name" placeholder="" class="form-control input-md" required="" type="text">
          </div>
        </div>

        <!-- File Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="filebutton">Add image (.png)</label>
          <div class="col-md-4">
            <input id="image" name="image" class="input-file" type="file">
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <button id="submit" name="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>

</fieldset>
</form>

</body>
</html>